.about-container {
	display: flex;
	justify-content: space-between;
	padding: 40px 0px 120px 0px;
}
.about-pic {
	text-align: center;
	margin-right: 76px;
	
}
.about-pic img {
	width: 100%;
	width: 425px;
	
	margin-bottom: 25px;
}
.about-text {
	text-align: center;
}
.about-text h3 {
	margin-top: 60px;
	margin-bottom: 55px;
}

.about-text p{
	margin-top: 20px;

	font-family: 'Montserrat Alternates';
	font-size: 1.6rem;
	line-height: 153.9%;

	text-align: center;

	color: #FFFFFF;
}
.about-container {
	padding-bottom: 60px;
}
.numbers-container {padding-bottom: 0px;}

