.about-container {
	display: flex;
	justify-content: space-between;
	padding: 123px 0px 143px 0px;
}
.about-pic {
	text-align: center;
	margin-right: 76px;
	
}
.about-pic img {
	min-width: 400px;
	width: 100%;
	margin-bottom: 50px;
}
.about-text {
	text-align: center;
}
.about-text h3 {
	margin-top: 20px;
}

.about-text p{
	margin-top: 20px;

	font-family: 'Montserrat Alternates';
	font-size: 28px;
	line-height: 153.9%;

	text-align: center;

	color: #FFFFFF;

}