.hero-container {
	display: flex;
	justify-content: space-between;
	padding: 128px 0px;
	position: relative;
}
.hero-text h1 {
	margin-top: 45px;
}
.hero-text p {
	font-size: 35px;
	width: 100%;
	max-width: 660px;
	line-height: 43px;
	margin:35px 0px 108px 0px;

}
.hero-text button {
	padding: 20px 40px;
}
