.reviews-title {
	display: flex;
	justify-content: center;
	margin-bottom: 65px;

}
.reviews-title img {
	width: 50px;
}
.nickname img {
	width: 50px;
}
.reviews-title h2 {
	margin-right: 30px;
}
.swiper {
	width: 100%;
	margin-bottom: 50px;
}
.swiper-slide {
	width: 50%;
	height: auto;
	background: #823CDB;
	border-radius: 50px;
	padding: 30px 40px;
	display: flex;
	flex-direction: column;	
	justify-content: space-between;
}
.rev-text {
	font-weight: 300;
	font-size: 1.1rem;
	line-height: 30px;
/* or 148% */

	display: flex;
	align-items: center;

}
.userName {
	margin-left: 25px;
}
.nickname {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	
}
.data {
	margin-top: 30px;
	text-align: right;
	font-weight: 400;
	font-size: 1.6rem;
}